#### Conditional Programming

In [1]:
#Lets say I have this list
my_list = [ 1, 'python', '2', '3', 4, 5.6, 'java', 'c++', 10]

#I want to check if the size of this list = 9 or not

len(my_list)

9

In [4]:
#I want to check if the size of this list = 9 or not. 
#If it is 9 then append one more random number otherwise leave it as it is

if len(my_list) == 9:
    print('Yes it is actually 9')
    my_list.append(-1)
else:
    print('Its not 9')

Its not 9

In [3]:
my_list

[1, 'python', '2', '3', 4, 5.6, 'java', 'c++', 10, -1]

In [10]:
if len(my_list) == 9:
    print('Yes it is actually 9')
    my_list.append(-1)
else:
    print('Its not 9')

Its not 9

Write a program which takes in a user input name and age of a person. If the name of the person ends with a vowel(a, e, i, o, u) then print his age and name as it is otherwise print his name and double of his age

In [6]:
name = input('Enter your name')
age = int(input('Enter your age'))

if name[-1] in ['a', 'e', 'i', 'o', 'u']:
    print('Your name ends with vowel')
    print('Name : {} Age : {}'. format(name, age))
    
else:
    print('Your name does not end with a vowel')
    print('Name : {} Revised Age : {}'. format(name, age*2))

Enter your name Marie
Enter your age 32

Your name ends with vowel
Name : Marie Age : 32

Write a program which takes in a user input name and age of a person. If the name of the person ends with a vowel(a, e, i, o, u) and his name starts with a vowel then print his age and name as it is otherwise double his age

In [15]:
name = input('Enter your name')
age = int(input('Enter your age'))

vowel = ['a', 'e', 'i', 'o', 'u']

#if first letter is vowel
if name[0] in vowel:
    print('Your name starts with a vowel')
    #if last letter is vowel
    if name[-1] in vowel:
        print('Your name ends with a vowel')
        print('Name : {} Age : {}'. format(name, age))
    else:
        print('Your name does not end with a vowel')
        print('Name : {} Revised Age : {}'. format(name, age*2))
else:
    print('Your name does not start with a vowel')
    print('Name {} Revised Age : {}'. format(name, age*2))

Enter your name amie
Enter your age 22

Your name starts with a vowel
Your name ends with vowel
Name : amie Age : 22

In [7]:
#Lets extend this to a full fledge application.
#Assume we have to build a tax calculation application

salaries = [20000, 35000, 15000, 45000, 68000, 9000, 79000, 115000, 190000]

We know that different salaries fall in different tax bracket
Tax brackets are
1. salary < 40000 - Nil
2. 40001 - 90000 - 5%
3. 90001 - 150000 - 10%
4. salary > 150001 - 15%

For the above salaries can you tell us the salary in hand you will get after tax deduction

In [10]:
#Lets derive a list to find out which tax bracket these salaries fall into
salary = salaries[3]

if salary < 40000:
    tax_bracket = 0
elif 40000 < salary < 90000:
    tax_bracket = 5
elif 90000 < salary < 150000 :
    tax_bracket = 10
elif 150000 < salary: 
    tax_bracket = 15
else:
    print('Invalid salary')
    
print('{} falls into {}% tax_bracket'.format(salary, tax_bracket))

45000 falls into 5% tax_bracket

#### Iterations

In [13]:
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [16]:
#Read list in an iterative manner
my_doubled_list = []
for i in my_list:
    my_doubled_list.append(i*2)
my_doubled_list

[2, 4, 6]

In [17]:
salaries

[20000, 35000, 15000, 45000, 68000, 9000, 79000, 115000, 190000]

In [18]:
#initializeing tax bracket list to store tax brackets for salaries
my_tax_bracket_list = []

#Running a loop over all salaries in the list of salaries
for salary in salaries:
    
    #Checking which tax bracket salary falls into
    if salary < 40000:
        tax_bracket = 0
    elif 40000 < salary < 90000:
        tax_bracket = 5
    elif 90000 < salary < 150000 :
        tax_bracket = 10
    elif 150000 < salary: 
        tax_bracket = 15
    else:
        print('Invalid salary')
    # print('Tax Bracket : {}'.format(tax_bracket))
    #Adding the tax bracket to the list
    my_tax_bracket_list.append(tax_bracket)
    
    
my_tax_bracket_list

[0, 0, 0, 5, 5, 0, 5, 10, 15]

In [19]:
salaries

[20000, 35000, 15000, 45000, 68000, 9000, 79000, 115000, 190000]

In [23]:
# I want a list of tuples such that the salaries and tax brackets are paired up in a tuple

list(zip(salaries, my_tax_bracket_list))

[(20000, 0),
 (35000, 0),
 (15000, 0),
 (45000, 5),
 (68000, 5),
 (9000, 0),
 (79000, 5),
 (115000, 10),
 (190000, 15)]

In [29]:
list(zip([1, 2, 3], ['one', 'two', 'three']))

[(1, 'one'), (2, 'two'), (3, 'three')]

Question : Given two list of numbers and another list of operations, perform the operation on the list of numbers as per the operation

list1 = [1, 4, -9, -5.2, 8.5, 10]
list2 = [10, 5, -3, 2, 0.5, 1.3]
list3 = ['+', '*', '-', '*', '/', '+']


output_list = [1+10, 4*5, -9 - (-3), ....]
output_list = [11, 20, -6, ...]

In [11]:
list1 = [1, 4, -9, -5.2, 8.5, 10]
list2 = [10, 5, -3, 2, 0.5, 1.3]
list3 = ['+', '*', '-', '*', '/', '+']

len(list1)

6

In [10]:
output_list = []
for i in range(6):
    if list3[i] == '+':
        output_list.append(list1[i] + list2[i])
    elif list3[i] == '-':
        output_list.append(list1[i] - list2[i])
    elif list3[i] == '*':
        output_list.append(list1[i] * list2[i])
    elif list3[i] == '/':
        output_list.append(list1[i] / list2[i])
output_list

[11, 20, -6, -10.4, 17.0, 11.3]

In [34]:
#if I have to perform only for the 3rd and 4th index
output_list = []
for i in range(3,5):
    if list3[i] == '+':
        output_list.append(list1[i] + list2[i])
    elif list3[i] == '-':
        output_list.append(list1[i] - list2[i])
    elif list3[i] == '*':
        output_list.append(list1[i] * list2[i])
    if list3[i] == '/':
        output_list.append(list1[i] / list2[i])
output_list

[-10.4, 17.0]

Equalities or inequalities

In [31]:
# checking if the two values are equal
if 9 == 9:
    print('The values are equal')
else:
    print('They are not equal')

The values are equal

In [32]:
# checking if the two values are equal
if 90 == 9:
    print('The values are equal')
else:
    print('They are not equal')

They are not equal

In [33]:
# checking if the two values are unequal
if 10 != 9:
    print('The values are not equal')
else:
    print('They are equal')

The values are not equal

In [34]:
# checking if the two values are unequal
if 9 != 9:
    print('The values are not equal')
else:
    print('They are equal')

They are equal

In [35]:
# checking if the one value is greater than the other
if 10 > 9:
    print('First is greater than second')
else:
    print('First is not greater than second')

First is greater than second

In [36]:
# checking if the one value is lesser than the other
if 10 < 9:
    print('First is lesser than second')
else:
    print('First is not lesser than second')

First is not lesser than second

In [37]:
# checking if the one value is greater than or equal to the other
if 10 >= 9:
    print('First is greater or equal to second')
else:
    print('First is lesser than second')

First is greater or equal to second

Lets say we have to build an application where we have to convert ratings into reviews.

1. 0 - 1 -> Bad movie
2. 1.1 - 3 -> Average movie
3. 3.1 - 4.5 -> Great movie
4. 4.6 - 5.0 -> Excellent movie

In [24]:
#First step is to read a rating into our application. 
#We will take it from the user now

rating = float(input('Enter the rating of the movie'))


if 0 <= rating <= 1:
    review = 'Bad movie'
elif 1 < rating <= 3:
    review = 'Average movie'
elif 3 < rating <= 4.5:
    review = 'Great movie'
elif 4.5 < rating <= 5:
    review = 'Excellent movie'
    
print('The user has given a rating of {} which corresponds to {} '.format(rating, review))

Enter the rating of the movie 3.2

The user has given a rating of 3.2 which corresponds to Great movie

##### Short syntax of if and else

In [28]:
#pass or fail
marks = int(input('Enter your marks'))

if marks > 33:
    result = 'pass'
else:
    result = 'fail'
# result = 'pass' if marks > 33 else 'fail'
print('Result : {}'.format(result))

Enter your marks 4

Result : fail

In [28]:
#pass or fail
marks = int(input('Enter your marks'))

result = 'pass' if marks > 33 else 'fail'

print('Result : {}'.format(result))

Enter your marks 43

Result : pass

### Looping

In [29]:
#see how the for loop is iterating one by one
for numbers in [0, 1, 2, 3, 4]:
    print(numbers)

0
1
2
3
4

In [30]:
my_list = [0, 1, 2, 3, 4]
for numbers in my_list:
    print(numbers)

0
1
2
3
4

In [31]:
#operate on a range of numbers

for number in range(5):
    print(number)

0
1
2
3
4

In [32]:
#print element along with its index
my_list = ['python', 'C', 'Java', 'Ruby', 'SQL', 'DotNet']
for index in range(len(my_list)):
    #index, value of list at that index
    print(index, my_list[index])

0 python
1 C
2 Java
3 Ruby
4 SQL
5 DotNet

In [56]:
my_list = ['python', 'C', 'Java', 'Ruby', 'SQL', 'DotNet']
for index, language in enumerate(my_list):
    print(index, language)

0 python
1 C
2 Java
3 Ruby
4 SQL
5 DotNet

In [35]:
list1 = [1, 4, -9, -5.2, 8.5, 10]
list2 = [10, 5, -3, 2, 0.5, 1.3]
list3 = ['+', '*', '-', '*', '/', '+']

output_list = []
for index, value in enumerate(list3):
    if value == '+':
        output_list.append(list1[index] + list2[index])
    elif value == '-':
        output_list.append(list1[index] - list2[index])
    elif value == '*':
        output_list.append(list1[index] * list2[index])
    if value == '/':
        output_list.append(list1[index] / list2[index])
output_list

[11, 20, -6, -10.4, 17.0, 11.3]

### While loop

In [36]:
#While loop
my_list = [0, 1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]
length_of_list = len(my_list)

#compare
while length_of_list > 0: 
    #execute
    print(length_of_list, my_list[length_of_list-1])
    #update
    length_of_list = length_of_list - 1

12 1024
11 512
10 256
9 128
8 64
7 32
6 16
5 8
4 4
3 2
2 1
1 0

#### Break and continue statements

In [30]:
#Assume we are designing a task to see if an item exists in a list or not ?
my_list = ['bread', 'butter', 'jam', 'cheese', 'milk', 'curd']

for item in my_list:
    print('Items {}'.format(item))
    if item == 'jam':
        print('Found jam in the item list')
        break

Items bread
Items butter
Items jam
Found jam in the item list

In [34]:
my_list = ['bread', 'butter', 'jam', 'cheese', 'milk', 'curd']

for item in my_list:
    print('Items {}'.format(item))
    if item == 'jam':
        print('Found jam in the item list')
        print('Price of jam {}'.format(15))
        break
    elif item != 'jam':
        continue

Items bread
Items butter
Items jam
Found jam in the item list
Price of jam 15

Exercise :

1. Create a list of 10 employees
2. Create tuple of salaries of these 10 employees
3. Create a tuple of rating of these 10 employees ( 0 - 10 )
4. Generate a dictionary of employees and their new salaries based on their ratings 
    The update to salaries should be as 
    
    a. For rating 0 - 3 no salaries should be updated
    
    b. For rating 3 - 5 a 3% increment to be given
    
    c. For rating 5 - 7 a 5% increment to be given
    
    d. For rating 7 - 9 a 7% increment to be given
    
    e. For rating 9 and above a 7% increment and a bonus of 10% of initial salary to be given

The dictionary way

In [33]:
employee = ['John', 'Mary', 'Krishna', 'Namesh', 'Aastha', 'Jason', 'Kavita', 'Ravi', 'Shruti', 'Shubham']
salaries = (10000, 12000, 13000, 18500, 11000, 19800, 20000, 23500, 19450, 8000)
ratings = (2.3, 4.7, 4.3, 9.9, 8.4, 6.1, 6.1, 4.0, 8.8, 9.3)

In [34]:
my_dictionary = {}


for i in range(len(ratings)):
    bonus = 0
    if 0 <= ratings[i] <= 3:
        update = 0
    elif 3 < ratings[i] <= 5:
        update = 3
    elif 5 < ratings[i] <= 7:
        update = 5
    elif 7 < ratings[i] <= 9:
        update = 7
    elif 9 < ratings[i] <= 10:
        update = 7
        bonus = 10
        
    my_dictionary[employee[i]] = salaries[i] + bonus + (salaries[i]*(update/100))

In [35]:
my_dictionary

{'John': 10000.0,
 'Mary': 12360.0,
 'Krishna': 13390.0,
 'Namesh': 19805.0,
 'Aastha': 11770.0,
 'Jason': 20790.0,
 'Kavita': 21000.0,
 'Ravi': 24205.0,
 'Shruti': 20811.5,
 'Shubham': 8570.0}