<a href="https://colab.research.google.com/github/shivashankarkammari/python/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#Write a function which takes in multiple names as a list. The function should return the
#pair of names in Capital and the length of the name. For example
#Input : [‘Ravi’, ‘Sanjeev’, ‘John’]
#Output : [(‘RAVI’, 4), (‘SANJEEV’, 7), (‘JOHN’, 4)]


def name_len(lis):
    Res=[]
    for name in lis:
        Res.append((name,len(name)))
    return Res


names=['Ravi','Sanjeev', 'John']
print(name_len(names))

[('Ravi', 4), ('Sanjeev', 7), ('John', 4)]

In [12]:

lis=['Ravi','Sanjeev', 'John']
Name_len=[(name,len(name)) for name in lis]
Name_len

[('Ravi', 4), ('Sanjeev', 7), ('John', 4)]

In [ ]:
#Write a function to get only the numbers in a sentence like ‘In 1984 there were 13
#instances of a protest with over 1000 people attending’

def get_num(strg):
    Res=[]
    for i in strg.split(" "):
        if i.isdigit():
            Res.append(i)
    return Res
Strg="In 1984 there were 13 instances of a protest with over 1000 people attending"
print(get_num(Strg))

['1984', '13', '1000']

In [15]:

strg="In 1984 there were 13 instances of a protest with over 1000 people attending"
get_num = [i for i in strg.split() if i.isdigit()==True]
get_num

['1984', '13', '1000']