In [13]:
# 1.What is the output of the following code?
# var1 = 1 var2 = 2 var3 = "3"

var1 = 1;var2 = 2;var3 = "3"
print(var1+var2+var3)

TypeError: ignored

In [1]:

# 2.What is the output of the following code?
# valueOne = 5 ** 2 valueTwo = 5 ** 3

valueOne = 5 ** 2 ;valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [2]:
# 3.What is the output of the following
# x = 36 / 4 * (3 + 2) * 4 + 2 print(x)

x = 36 / 4 * (3 + 2) * 4 + 2
print(x)

182.0

In [3]:
# 4.What is the output of the following code?
# var= "James Bond" print(var[2::-1])

var= "James Bond"
print(var[2::-1])

maJ

In [4]:
#5.What is the output of the following code?
# p, q, r = 10, 20 ,30
# print(p, q, r)

p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [5]:
# 6.What is the output of the following code?
# str = "pynative" print (str[1:3])

str = "pynative"
print (str[1:3])

yn

In [17]:
# 7.What is the output of the following code?
# sampleSet = {"Jodi", "Eric", "Garry"} sampleSet.add(1, "Vicki") print(sampleSet)

sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1,"Vicki")
print(sampleSet)

TypeError: ignored

In [7]:
#8. What is the output of the following code?
# sampleList = ["Jon", "Kelly", "Jessa"] sampleList.append(2, "Scott") print(sampleList)

sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: ignored

In [8]:
# 9.What is the output of the following code?
# var = "James" * 2 * 3 print(var)

var = "James" * 2 * 3
print(var)

JamesJamesJamesJamesJamesJames

In [9]:
# 10.What is the output of the following code?
# listOne = [20, 40, 60, 80] listTwo = [20, 40, 60, 80]

# print(listOne == listTwo) print(listOne is listTwo)

listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [10]:
# 10.What would be the output of the following
# L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'] print(L[-7:-2])

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])

['c', 'd', 'e', 'f', 'g']

In [12]:

# 11.What would be the output of the following
# L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'] print(L[6:1:-2])

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

In [11]:
# 12.What is the following code doing ?
# L = ['a', 'b', 'c', 'd', 'e'] L[1:2] = [1, 2, 3] print(L)

L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)

['a', 1, 2, 3, 'c', 'd', 'e']